In [1]:
import pandas as pd
df = pd.read_csv("TestData.csv")
df

        class  xmin  ymin  xmax  ymax
0   Paragraph    65   493   209   577
1   Paragraph   219   489   373   569
2   Paragraph   380   484   536   575
3     Heading   208    15   443    72
4   Paragraph   115    79   599   257
5       Image    75   294   206   400
6       Image   238   294   377   400
7       Image   396   292   529   404
8       Label    69   408   202   440
9       Label   241   403   360   434
10      Label   401   411   526   439
11      Label    69   448   210   480
12      Label   238   445   377   476
13      Label   402   446   519   476

In [2]:
df=df.sort_values(by=['xmin'], ascending=[True])
df

        class  xmin  ymin  xmax  ymax
0   Paragraph    65   493   209   577
8       Label    69   408   202   440
11      Label    69   448   210   480
5       Image    75   294   206   400
4   Paragraph   115    79   599   257
3     Heading   208    15   443    72
1   Paragraph   219   489   373   569
6       Image   238   294   377   400
12      Label   238   445   377   476
9       Label   241   403   360   434
2   Paragraph   380   484   536   575
7       Image   396   292   529   404
10      Label   401   411   526   439
13      Label   402   446   519   476

In [3]:
df=df.sort_values(by=['ymin'], ascending=[True])
df

        class  xmin  ymin  xmax  ymax
3     Heading   208    15   443    72
4   Paragraph   115    79   599   257
7       Image   396   292   529   404
5       Image    75   294   206   400
6       Image   238   294   377   400
9       Label   241   403   360   434
8       Label    69   408   202   440
10      Label   401   411   526   439
12      Label   238   445   377   476
13      Label   402   446   519   476
11      Label    69   448   210   480
2   Paragraph   380   484   536   575
1   Paragraph   219   489   373   569
0   Paragraph    65   493   209   577

In [4]:
import pandas as pd
column=df['class']
column
df

        class  xmin  ymin  xmax  ymax
3     Heading   208    15   443    72
4   Paragraph   115    79   599   257
7       Image   396   292   529   404
5       Image    75   294   206   400
6       Image   238   294   377   400
9       Label   241   403   360   434
8       Label    69   408   202   440
10      Label   401   411   526   439
12      Label   238   445   377   476
13      Label   402   446   519   476
11      Label    69   448   210   480
2   Paragraph   380   484   536   575
1   Paragraph   219   489   373   569
0   Paragraph    65   493   209   577

In [5]:
my_list = df["class"].tolist()
my_list

['Heading',
 'Paragraph',
 'Image',
 'Image',
 'Image',
 'Label',
 'Label',
 'Label',
 'Label',
 'Label',
 'Label',
 'Paragraph',
 'Paragraph',
 'Paragraph']

In [16]:
# File_object = open(r"DSL.text","w")
# L=my_list
result=''
with open(r"DSL.txt","w") as File_object:
    # File_object.write("{\n")
    for item in my_list:
        item +=  ','+'\n' 
        File_object.write(item)
        
    # File_object.write("}")
        
        
File_object.close()